{{#partial "title" }}
    Hero details!
{{/partial}}

{{#partial "content"}}

    {{#if myHero.size}}
        <p>It currently holds the following Heroes</p>
        {{#each hero in heros}}
            <p><a href="/hero/{{id}}">{{hero-name}}</a></p>
        {{/each}}
    {{else}}
        <p>It currently has no Heroes</p>
    {{/if}}
    <h1>{{hero-name}}</h1>
    <p>Age: {{hero-age}}</p>
    <p>Special Power: {{special-power}}</p>
    <p>Weakness: {{weakness}}</p>
    <a href="/hero/delete/{{id}}"><button class="btn btn-outline-danger my-2 my-sm-0">Delete {{hero-name}}</button></a>
{{/partial}}

{{> layout.hbs}}